<aside class="col-2">
<nav class="nav flex-column">
  <%= link_to  "Home", "/", class: "nav-link" %></li>
  <%= link_to  "News", "/news", class: "nav-link" %></li>
  <%= link_to  "Questions", "/questions", class: "nav-link" %></li>
  <%= link_to  "About Us", "/aboutus", class: "nav-link" %></li>
</nav>
</aside>