aside.col-2
  nav.nav.flex-column
    = link_to  "Home", "/", class: "nav-link"
    = link_to  "News", "/news", class: "nav-link"
    = link_to  "Questions", "/questions", class: "nav-link"
    = link_to  "About Us", "/aboutus", class: "nav-link"
