p#notice
  = notice
.row
  .col-4
    = image_tag(@product.image_url, class: "img-fluid")
  .col-8
    = simple_format(@product.title, class:"h2")
    = simple_format(@product.description)
    = @product.price
    .col.mt-3
      = link_to 'Edit', edit_product_path(@product), class: "btn btn-info"
      |  | 
      = link_to 'Back', products_path, class: "btn btn-secondary"
