<h1 class="h2">
<%= @product.title %>
</h1>
<div class="row">
  <div class="col-4">
  <%= image_tag @product.image_url, class: "img-fluid" %>
  </div>
  <div class="col-8">
    <%= sanitize @product.description%>
    <p class="h4 mb-2">
      <%= number_to_currency(@product.price, precision: 2) %>
    </p>
    <button class="btn btn-sm btn-success">Add to cart</button>
  </div>
  
</div>